<app-loading></app-loading>

<div class="logo">
        <!-- <img src="./../../../assets/images/logo_utm.png" /> 
        <span>{{eventos._NOMBRE_APP}}</span> -->


    <div class="form_login">
      <h1 class="bienvenidos"> Bienvenidos </h1>
      <h3 class> Por favor indrodusca los datos: </h3>
        <input type = "tel" [(ngModel)]="objeto_persona.cedula" nz-input placeholder="Cedula"/>
        <input type = "text" [(ngModel)]="objeto_persona.nombres" nz-input placeholder="Nombres"/>
        <input type = "text" [(ngModel)]="objeto_persona.apellidos" nz-input placeholder="Apellidos"/>
        <input type = "email" [(ngModel)]="objeto_persona.correo" nz-input placeholder="Correo"/>


        <nz-select [(ngModel)]="objeto_persona.ciudad" style="width: 100%;" nzPlaceHolder="Seleccione">
            <nz-option *ngFor="let item of objeto_ciudad" nzValue="{{item}}" nzLabel="{{item}}"></nz-option>
        </nz-select>


        <button [disabled]="!objeto_persona.cedula.length || !objeto_persona.nombres || !objeto_persona.apellidos || !objeto_persona.correo || !objeto_persona.ciudad "
             nzType="primary" (click)="dar_click()">Guardar</button>
    
            
       <div class="tablaestilo">
              <nz-table>
                <thead>
                  <tr>
                    <th>Cedula</th>
                    <th>Nombres</th>
                    <th>Apellios</th>
                    <th>Ciudad</th>
                    <th>Accion</th>
                    <th>Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of objeto_tabla; let i =index">
                    <td>{{data.cedula}}</td>
                    <td>{{data.nombres}}</td>
                    <td>{{data.apellidos}}</td>
                    <td>{{data.ciudad}}</td>
                    <td>
                      <!--<a>Action 一 {{data.name}}</a>
                      <nz-divider nzType="vertical"></nz-divider>-->
                      <a (click)="eliminar(i)">Delete</a>
                
                    </td>
                    <td><a (click)="Editar(i)">Editar</a></td>
                  </tr>
                </tbody>
              </nz-table>
         </div>
     </div>





















